<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular-resource.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script>

        var app = angular.module('restful', ['ngResource'])
            // Configuration
                .config(['$httpProvider', '$provide',
                    function ($httpProvider, $provide) {
                        $httpProvider.responseInterceptors.push([ '$q', '$window',
                            function ($q, $window) {

                                return function (promise) {

                                    return promise.then(function (successResponse) {
                                        return successResponse;
                                    }, function (errorResponse) {

                                        $window.alert("Status Code => " + errorResponse.status + "\n"
                                                + "Status Text => " + errorResponse.statusText + "\n"
                                                + "Custom error message => " + errorResponse.data.text);
                                        return $q.reject(errorResponse);

                                    });


                                };
                            }]);
                    }]);


        // Controller
        app.controller('restCtrl', ['$q', '$resource', '$scope', function ($q, $resource, $scope) {

            $scope.users = [];

            var resourceContact = $resource('/api/contacts/:userId', {userId: '@id'});

            $scope.getContacts = function () {
                resourceContact.get(function (data) {
                    if (angular.isArray(data.contact)) {
                        $scope.users = data.contact;
                    } else {
                        $scope.users.push(data.contact);
                    }
                });
            };

            $scope.getContacts();

            $scope.delete = function (userId, index) {
                resourceContact.delete({userId: userId}, function () {
                    $scope.users.splice(index, 1);
                });
            };

            $scope.add = function (user) {
                resourceContact.save(user, function (data) {
                    $scope.users.push(data);
                });
            };

        }]);
    </script>
</head>

<body ng-app="restful" ng-controller="restCtrl">

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">#Restful, really ? (demo)</a>
        </div>
    </div>
</nav>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Email</th>
        <th></th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.id}}</td>
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>
            <button ng-click="delete(user.id, $index)" class="btn btn-danger">delete</button>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td><input type="text" ng-model="newUser.firstName"/></td>
        <td><input type="text" ng-model="newUser.lastName"/></td>
        <td><input type="text" ng-model="newUser.email"/></td>
        <td>
            <button ng-click="add(newUser)" class="btn btn-success">add</button>
        </td>
    </tr>
</table>
<a href="https://github.com/xcarpentier/address_book_api">
<img style="position: absolute; top: 0; right: 0; border: 0;" 
src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" 
alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
</a>
</body>
</html>
